.header-container {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 20px;
}

.header-container strong {
  font-size: 1.6rem;
}

.header-container .search-container {
  position: relative;
  margin-top: 10px;
}

.header-container .search-container input {
  font-size: 0.8rem;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #6a7b8b;
}

.header-container .search-container input::placeholder {
  color: #fff;
}
