.menu-container {
  position: relative;
  display: flex;
  margin: auto;
  width: 260px;
  height: 50px;
  background-color: #005bac;
  border-radius: 10px;
}

.menu-container strong {
  position: relative;
  display: flex;
  margin: auto;
  text-align: center;
  color: #fff;
}
